html body .section{
    background-color: #fff;
}
html body .section .container{
    width: 100%;
    margin: 0 auto;
}
html body .section .container .box{
    display: flex;
    flex-direction: column;
    text-align: center;
}
    
















@media (min-width: 1200px){
html body .section .container{
    max-width: 1140px;
}
}
@media (min-width: 1200px){
html body .section{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
}
    